html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #71bc78;
}

main {
	flex: 1;
}

#map {
	height: 100%;
	width: 100%;
	/*cursor: url("images/paw.svg"), auto;*/
}
