/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

/* Universal selector to apply box-sizing, margin, padding, and user-select properties to all elements */
* {
	box-sizing: border-box; /* Include padding and border in element's total width and height */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	user-select: none !important; /* Disable text selection */
	-webkit-tap-highlight-color: transparent; /* Remove blue highlight on touch selection */
}

/* Remove blue highlight when focusing on elements */
*:focus {
	outline: none;
}

/* Set height, font-family, and overflow properties for html and body */
html,
body {
	height: 100%;
	font-family: "Raleway", "Chewy", "Mogra", sans-serif;
	overflow: hidden; /* Hide scrollbars */
}

/* Styling for the header */
#header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em; /* Space between child elements */
	height: 10%;
	width: 100%;
	background-color: hsla(129, 69%, 53%, 1); /* Green background color */
	z-index: 10; /* Ensure header is above other elements */
}

/* Styling for header image */
.header-image {
	width: 2.8em;
	height: 2.8em;
	margin: 0;
}

/* Styling for header text */
.header-text {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 1;
	cursor: pointer;
	font-family: "Chewy", sans-serif;
	font-size: 2.9em;
	color: hsla(70, 100%, 49%, 1); /* Yellow color */
}

/* Change header text color when active */
.header-text:active {
	color: hsla(41, 84%, 26%, 1); /* Darker yellow color */
}

/* Styling for the main content area */
#main {
	transition: transform 0.75s ease; /* Smooth transition for transform property */
	height: 90%;
	width: 100%;
}

/* Styling for the map container */
#map {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 1;
	height: 100%; /* Full height */
	width: 100%; /* Full width */
	z-index: 0; /* Ensure map is at the bottom layer */
}

/* Styling for elements in the bottom layer */
.bottom-layer {
	position: absolute;
	bottom: 1.5em;
	right: 0.85em;
	z-index: 1000; /* Ensure elements are above other content */
}

/* Styling for buttons */
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 45px;
	background-color: white;
	border: 2.3px solid rgba(128, 128, 128, 0.5); /* Light gray border */
	border-radius: 10%;
	margin-top: 2.5em;
	margin-left: 0.4em;
	margin-bottom: 0.75em;
	cursor: pointer; /* Pointer cursor on hover */
}

/* Styling for images inside buttons */
.info-image,
.add-image,
.location-image {
	height: 80%; /* Adjust height for different images */
	width: 80%; /* Adjust width for different images */
}

/* Disable interaction for disabled buttons */
#btn-header.disabled,
#btn-question.disabled,
#btn-add.disabled {
	pointer-events: none; /* Disable interaction */
	background-color: #aaa; /* Gray background for disabled buttons */
	opacity: 0.7; /* Dim the button */
}

/* Styling for the bottom side navigation menu */
.templatenav {
	height: 0; /* Initial height */
	width: 100%;
	position: fixed; /* Fixed position */
	z-index: 1; /* Ensure it stays on top */
	bottom: 0; /* Align to bottom */
	left: 0; /* Align to left */
	background-color: hsl(129, 16%, 98%); /* Light background color */
	transition: 0.75s; /* Smooth transition for height */
	display: flex;
}

/* Styling for left and right sections of the navigation menu */
.nav-template-left,
.nav-template-right {
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-template-left {
	flex-basis: 90%; /* Take up 90% of the width */
	padding: 1em;
	overflow-y: scroll; /* Enable vertical scrolling */
}

.nav-template-right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 0.29em;
	flex-basis: 10%; /* Take up 10% of the width */
}

/* Styling for the close button */
.close-button-layer {
	height: 45px;
	width: 45px;
	margin-top: 0.8em;
}

.close-button {
	height: auto;
	width: auto;
	cursor: pointer; /* Pointer cursor on hover */
}

/* Styling for container header */
.container-header h2 {
	text-align: center;
	color: #333; /* Dark gray color */
	font-size: 2em;
	margin-top: 2px;
	margin-bottom: 20px;
}

.container-header .container-header-text {
	font-family: "Chewy", sans-serif;
	font-size: 1.1em;
	color: hsla(129, 69%, 53%, 1); /* Green color */
}

/* Styling for information content */
.info-content {
	line-height: 1.6; /* Line height for readability */
	color: #555; /* Medium gray color */
}

.info-content section {
	margin-bottom: 20px;
}

.info-content h3 {
	color: hsla(129, 69%, 53%, 1); /* Green color */
	font-size: 1.5em;
	margin-bottom: 10px;
}

.info-content p {
	font-size: 1.1em;
	margin-bottom: 15px;
}

.info-content ul {
	list-style-type: disc; /* Disc list style */
	margin-left: 20px;
}

.info-content li {
	font-size: 1.1em;
	line-height: 1.6; /* Line height for readability */
	color: #555; /* Medium gray color */
}

.info-content a {
	color: hsla(129, 69%, 53%, 1); /* Green color */
	text-decoration: none; /* Remove underline */
}

.info-content a:hover {
	text-decoration: underline; /* Underline on hover */
}

.info-content .contact a {
	font-weight: bold; /* Bold font weight */
}

/* Styling for hidden features */
.hidden-features {
	color: hsla(129, 69%, 53%, 1); /* Green color */
}

/* Styling for legend icons */
.legend-icon {
	width: 37px;
	height: 37px;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.legend-icon-user {
	width: 52px;
	height: 52px;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 2px;
}

/* Styling for add marker section */
.question-container {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.question-text {
	margin-right: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #333; /* Dark gray color */
}

/* Styling for input fields and select elements */
#trash-type,
#trash-status,
input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border: 2px solid #4caf50; /* Green border */
	border-radius: 5px;
	background-color: #fff; /* White background */
	color: #333; /* Dark gray color */
	cursor: pointer; /* Pointer cursor on hover */
	transition: all 0.3s ease; /* Smooth transition for all properties */
}

#trash-type:hover,
#trash-status:hover,
input:hover {
	border-color: #45a049; /* Darker green border on hover */
}

#trash-type:focus,
#trash-status:focus,
input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Green shadow on focus */
	border-color: #45a049; /* Darker green border on focus */
}

#trash-type:invalid,
#trash-status:invalid {
	color: gray; /* Placeholder text color */
}

option {
	font-size: 16px;
}

/* Styling for submit button */
.submit-button {
	background-color: #4caf50; /* Green background */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer; /* Pointer cursor on hover */
	font-size: 16px;
	transition: background-color 0.3s ease; /* Smooth transition for background color */
	margin-left: 47%;
}

.submit-button:hover {
	background-color: #45a049; /* Darker green background on hover */
}

/* Styling for popup div */
#popup-div {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	font-family: "Raleway", "Chewy", "Mogra", sans-serif;
	font-size: 12px;
	color: #333; /* Dark gray color */
	padding: 0;
}

/* Styling for status sampah */
#status-sampah {
	padding: 6px;
	font-size: 12px;
	border: 2px solid #4caf50; /* Green border */
	border-radius: 5px;
	margin-top: 0.4em;
	background-color: #fff; /* White background */
	color: #333; /* Dark gray color */
	cursor: pointer; /* Pointer cursor on hover */
	transition: all 0.3s ease; /* Smooth transition for all properties */
	min-width: 7em;
}

#status-sampah:hover {
	border-color: #45a049; /* Darker green border on hover */
}

#status-sampah:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Green shadow on focus */
	border-color: #45a049; /* Darker green border on focus */
}

#status-sampah:invalid {
	color: gray; /* Placeholder text color */
}

/* Styling for popup submit button */
.popup-submit-button {
	background-color: #4caf50; /* Green background */
	color: white;
	padding: 6px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer; /* Pointer cursor on hover */
	font-size: 12px;
	transition: background-color 0.3s ease; /* Smooth transition for background color */
	margin-left: 0.5em;
	min-width: 6em;
}

/* Responsive design for smaller screens */
@media screen and (max-height: 450px), screen and (max-width: 600px) {
	.nav-template-left {
		flex-basis: 85%; /* Adjust width for smaller screens */
	}

	.nav-template-right {
		flex-basis: 15%; /* Adjust width for smaller screens */
	}

	.close-button-layer {
		height: 35px;
		width: 35px;
		margin-top: 0.8em;
	}

	/* Adjust font sizes and margins for smaller screens */
	.container-header h2 {
		font-size: 1.6em;
		margin-top: 0px;
		text-align: start;
	}

	.info-content h3 {
		font-size: 1.3em;
	}

	.info-content p,
	.info-content li {
		font-size: 1em;
	}

	.question-container {
		justify-content: start;
	}

	.question-text {
		font-size: 1em;
	}

	select {
		font-size: 0.95em;
	}

	option {
		font-size: 0.95em;
	}

	.submit-button {
		font-size: 1em;
		margin-left: 0;
	}
}
